venv/
.venv/
env/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.tox/
.env
.flaskenv
*.key
*.pem
.git/
.gitignore
.DS_Store
.vscode/
.idea/
Thumbs.db
Dockerfile
docker-compose.yml
.dockerignore
*.log
tmp/
dist/
build/